@model AdvertListViewModel

@{
    ViewData["Title"] = "Adverts by status - " + Model.Status;
}

<div class="row">
    <div class="col-xs-12">
        <h2>Hello landlord!</h2>
        <p>Here is a list of all your "@Model.Status" adverts:</p>
        <a asp-action="NewAdvert" class="btn btn-primary new-advert">New advert</a>
        @foreach (var advert in Model.Adverts)
        {
            @Html.Partial("AdvertForLandlord", advert);
        }
    </div>
</div>

<div page-model="Model.PagingInfo" page-action="Adverts" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-default" page-url-status="Model.Status"
     page-class-selected="btn-primary"
     class="btn-group pull-right"></div>