@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>UniAccomodation is a service that joins students and landlord togueather. All our adverts are reviewed by our officers to make sure they comply with our high standards and are not a hoax or scam.</p>
