@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    University Rd<br />
    Southampton SO17 1BJ<br />
    <abbr title="Phone">P:</abbr>
    023 8059 5000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@soton.ac.uk">support@soton.ac.uk</a><br />
    <strong>Officers:</strong> <a href="mailto:officers@example.com">officers@example.com</a>
</address>
