@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome!</h2>
        <p>UniAccomodation is a service that joins students and landlord together. All our adverts are reviewed by our officers to make sure they comply with our high standards.</p>
        <p>If you are a student, feel free to check our <a asp-action="Adverts">adverts</a> and contact the landlord with the information provided.</p>
        <p>If you are a landlord, you can <a asp-action="Register" asp-controller="Account">register</a> to start publishing your adverts. Please be patient, every advert has to be reviewed by our officers.</p>
        <p>Good luck in your search!</p>
    </div>
</div>
