@{
    ViewData["Title"] = "Register successful!";
}

<div class="bg-primary panel-body">
    <h4>Register successful</h4>
</div>

<p>Thank you, your registration was completed</p>
<a asp-action="Login" class="btn btn-primary">Click here to log in</a>